NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=Xooxoxoxoxoxoxoxoxooxo
SUPABASE_DB_URL=postgresql://postgres:Password@xxxxxxxxx.supabase.co/postgres?sslmode=require